.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-width: 1440px;
  min-height: 890px;
  padding-top: 100px;
  background-color: var(--main-bg-color-light);
  background-image: url('../../images/feynman.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px;
}
