.header {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 600px;
  max-height: 700px;
  height: 100vh;
  overflow: hidden;

  background-color: var(--main-bg-color-light);
}
