.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 700px;
  overflow: hidden;
  background-color: var(--main-bg-color-light);
}
