.kaufman__triangle {
  position: absolute;
  top: -5px;
  right: -210px;
  z-index: 1;
  width: 995px;
  height: 1006px;
  background-image: url('../../../images/kaufman-triangle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
